<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MONTTECH</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="src/app.js" defer></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div id="logo">
            <a href=""><h1>MONTTECH</h1></a>
        </div>
        <div id="menu-pricipal">
            <nav>
                <ul>
                  <li><a href="#">
                    <div><img src="img/minha_conta.png" alt="img.conta"></div>
                    <div>MINHA CONTA</div></a></li>
                  <li><a href="#">
                    <div><img src="img/atendimento.png" alt="img.atendimento"></div>
                    <div>ATENDIMENTO</div></a></li>
                  <li><a href="#">
                    <div><img src="img/favorito.png" alt="img.favorito"></div>
                    <div>FAVORITOS</div></a></li>
                  <li><a href="#">
                    <div><img src="img/local.png" alt="img.local"></div>
                    <div>LOCAL</div></a></li>
                  <li><a href="#">
                    <div><img src="img/carrinho.png" alt=""></div>
                    <div>CARRINHO</div></a></li>
                </ul>
              </nav>
        </div>
    </header>
    <section id="app">
        <aside>
            <div>
                <div id="app">
                    <form id="app-form">
                        <input id="text" type="text" v-model="input_hard" placeholder="Pesquisar por hardware">
                        <input id="btn" type="submit" value="OK" v-on:click="submitForm">
                    </form>
                    <div id="msg-erro">
                        <p>{{ produto }}</p>
                    </div>
                </div>
            </div>
            <div class="menu">
                <h3>HARDWARE</h3>
                <ul id="menu">
                    <li class="menu"><a href="javascript: computador();"><img src="img/logo.png" alt="">&nbsp;Computador</a></li>
                    <li class="menu"><a href="javascript: processador();"><img src="img/logo.png" alt="">&nbsp;Processador</a></li>
                    <li class="menu"><a href="javascript: placa();"><img src="img/logo.png" alt="">&nbsp;Placa de vídeo</a></li>
                    <li class="menu"><a href="javascript: ram();"><img src="img/logo.png" alt="">&nbsp;Memória RAM</a></li>
                </ul>
            </div>
            <!--h2>Menu</h2-->
            </br>
            </br>
            <!-- <div>
                <div id="app">
                    <form id="app-form">
                        <input id="text" type="text" v-model="input_hard" placeholder="Pesquisar por hardware">
                        <input type="submit" value="OK" v-on:click="submitForm">
                    </form>
                    <div id="msg-erro">
                        <p>{{ produto }}</p>
                    </div>
                </div>
            </div> -->
        </aside>
        <main>
            <!-- <div id="msg-erro">
                <p>{{ produto }}</p>
            </div> -->
            <div id="foto-produto">

                <div id="foto1" class="foto">
                    <img src="img/mostruario/m_01.jpg" alt="produtos-1">
                    <div id="preco1" class="preco">
                        <p id="descricao1">Cadeira Gamer</p>
                        <p>R$ 1.000,00</p>
                    </div>
                </div>
                <div id="foto2" class="foto">
                    <img src="img/mostruario/m_02.jpg" alt="produtos-2">
                    <div id="preco2" class="preco">
                        <p>Head-Phone</p>
                        <p>R$ 1.000,00</p>
                    </div>
                </div>
                <div id="foto3" class="foto">
                    <img src="img/mostruario/m_03.jpg" alt="produtos-3">
                    <div id="preco3" class="preco">
                        <p id="descricao3">Memória-RAM</p>
                        <p id="preco3">R$ 1.000,00</p>
                    </div>
                </div>
                <div id="foto4" class="foto">
                    <img src="img/mostruario/m_04.jpg" alt="produtos-4">
                    <div id="preco4" class="preco">
                        <p id="descricao4">Monitor</p>
                        <p id="preco4">R$ 1.000,00</p>
                    </div>
                </div>
                
            </div>
        </main>
    </section>
    <footer>
        <p>Copyright &copy; 2023 MONTTECH | Developed by Monttech</p>
    </footer>
    <!--script src="script.js"></script-->
</body>
</html>