body{
    background: rgb(0, 0, 0);
    /*font: normal 15pt Arial;*/
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
/**/
header {
    display: flex;
    justify-content: center;
    width: 100%;
    
}
header div#logo{
    /* width: 200px; */
    width: 50%;
    /* margin-left: -100px;
    margin-right: 100px; */

}
header div#logo a{
    color: white;
    text-decoration: none;/*retira sublinhado do texto*/
    font-size: 80%;

}
header div#logo a h1{
    display: flex;
    justify-content: center;

}
header div#menu-principal{
    width: 80%;
}
header img{
    /* width: 20px;
    height: 20px; */
    width: 17%;
    
}
nav{
    display: flex;
    justify-content: center;
    width: 100%;
}
ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* width: 800px; */
    width: 80%;
}
li {
    /* width: 150px; */
    width: 20%;
}
li a {
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    font-size: 90%;
    color: white;
    text-decoration: none;/*retira sublinhado do texto*/
    margin: 15px;
}
li div{
    display: flex;
    justify-content: center;
}
/**/
section{
    display: flex;
    justify-content: center;
}
aside{
    width: 21%;
    height: 75vh;
    /* margin-left: 5px; */
}
div.menu{
    margin-left: 0px;
    list-style-type: none;
}
div.menu img{
    width: 20px;
    height: 20px;
}
div.menu a{
    width: 150px;
    display: flex;
    justify-content: left;
}
main{
    width: 80%;
    height: 75vh;
    /* margin-left: 10px; */
    background-color: #A52A2A;

}
/**/
div#msg-erro{
    display: flex;
    justify-content: center;
}
div#foto-produto{
    display: flex;
    justify-content: center;
    width: 100%;
}
.foto{
    /* width: 200px;
    height: 200px; */
    width: 80%;
    /* margin: 25px; */
}
.foto img{
    /* width: 200px;
    height: 200px; */
    width: 80%;
    margin: 15px;
}

/**/
footer{
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
}